main {
  max-width: 480px;
  margin: 0 auto;
}
#container {
  max-width: 600px;
  margin: 0 auto;
}
 
@media (min-width: 960px) {
  #container {
    max-width: 1200px;
  }
}

@media (min-width: 960px) {
  main {
    max-width: 960px;
    margin: 0 auto;
  }
  header, footer {
    background-color: #5E747F;
    color: white;
  }
  
  nav {
    background-color: #7B9E87;
  }
  
  nav a {
    color: white;
  }
  
  nav a:hover {
    background-color: #B6BE9C;
    color: black;
  }
  
  .content1 {
    background-color: #d5a6bd;
  }
  
  .content2 {
    background-color: #b6d7a8;
  }
  
  .content3, .content4 {
    background-color: #9fc5e8;
  }
  
  .content5, .content6, .content7 {
    background-color: #b4a7d6;
  }